*{
	margin:0px;
	padding:0px;
}
h1,h2,h3{
	font-family:Gotham Pro;
	font-weight:400;
}
li{
	margin-bottom:5px;
}

h4.footer{
	color:White;
	font-family:Gotham Pro;
	font-weight:400;
	font-size:16px;
}
p{
	font-family:Gotham Pro;
	font-weight:100;
}
a{
	text-decoration:none;
}
div.header{
	background-color:#e9e9e9;
	padding:20px;
	margin:0px;
	height:45em;
}
div.about{
	backgraund-color:#ffffff;
	padding-top:100px;
	padding-bottom:100px;
}

div.skills{
	background-color:#f8f9f9;
	font-family:Gotham Pro;
	font-weight:100;
	height:38.45em;
}
div.feedbacks{
	background-color:#10c9c3;
	color:#ffffff;
	padding:100px;
}
div.work
{
	background-color:#f5f5f5;
	color:#838383;
	height:47em;
}
div.Process{
	background-color:#ffffff;
	padding-top:90px;
	padding-bottom:90px;
}
div.testimonials{
	background-color:#10c9c3;
	color:#ffffff;
	padding-top:170px;
	padding-bottom:40px;
	
}
div.need{
	background-color:#f5f5f5;
	height:50.67em;
}
div.footer{
	background-color:black;
	font-family:Gotham Pro;
	font-weight:100;
	color:#838383;
	font-size:12px;
	padding:100px;
}
div.dients{
	background-color:#ffffff;
	height:13.49em;
}
div.services{
	background-color:#f5f5f5;
	height:36em;
}
#tab1
{
	text-align:right;
}
.pick{
	color:Black;
}
.pick:hover{
	color:#10c9c3;
}
.pick:focus{
	color:#10c9c3;
}
.baton{
	padding: 16px 32px 16px 32px;
	font-family:Gotham Pro;
	font-weight:100;
	color:#ffffff;
	background-color:#10c9c3;
	border:1px solid #10c9c3;
}
input{
	font-family:Gotham Pro;
	font-weight:100;
}
textarea{
	font-family:Gotham Pro;
	font-weight:100;
}
#contact{
	color:white;
}
#headerp{
	color:#838383;
}
#hopkins{
	font-family:Gotham Pro;
	font-weight:400;
	font-size:12px;
	text-align:center;
	margin-bottom:0px;
	margin-top:10px;
}
#foot1{
	background-color:black;
	width:30%;
	float:left;
}
#foot2{
	background-color:inherit;
	width:35%;
	text-align:center;
	float:left;
}
#ul1{
	background-color:inherit;
	float:left;
	width:5%;
	text-align:left;
	
}

#ul2{
	background-color:inherit;
	float:left;
	width:10%;
	text-align:left;
	
}
#ul3{
	background-color:inherit;
	float:left;
	width:15%;
	list-style-type:none;

}
#ul4{
	background-color:inherit;
	float:left;
	width:5%;
	text-align:left;
	list-style-type:none;
}
#img1{
	float:left;
	width:25%;
	margin-left:auto;
	margin-right:auto;
	background-color:#10c9c3;
}
#img2{
	float:left;
	width:25%;
	margin-left:auto;
	margin-right:auto;
	background-color:#10c9c3;
}
#img3{
	float:left;
	width:25%;
	margin-left:auto;
	margin-right:auto;
	background-color:#10c9c3;
}
#img4{
	float:left;
	width:25%;
	margin-left:auto;
	margin-right:auto;
	background-color:#10c9c3;
}
.both
{
	clear:both;
}
.need>p
{
	color:#838383;
}
#spac
{
	word-spacing:1em;
	text-align:right;
}
img.display{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.display2{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	margin-bottom:0px;
}
p.about
{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	padding:10px;
	color:#838383;
	text-align:center;
	font-family:Verdana;
	line-height:1.5em;
}
h2.about
{
	text-align:center;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	padding:10px;
}
p.testimonials
{
	text-align:center;
	line-height:1.4em;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	padding:10px;
	font-size:20px;
}
h2.Process{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
p.Process{
	text-align:center;
	color:#838383;
	margin:25px;
	line-height:1.4em;
}
video.display3{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	width:80%;
	height:670px;
}

ul.footer{
	list-style-type:none;
}
ul.invis{
	list-style-type:none;
	visibility:hidden;
}
.imgleft
{
	float:left;
	padding:20px;
}
.pinfeed{
	padding:20px;
	line-height:1.6em;
	font-size:12px;
	font-family:Arial;
	font-weight:600;
}
b{
	font-size:18px;
	font-weight:500;
}
img.workimg{
	display:block;
	margin:0 auto;
}
#imgw1
{
	background-color:#e7e6e4;
	width:25%;
	padding-top:20px;
	padding-bottom:20px;
	float:left;
}
#imgw2
{
	background-color:#eeeeee;
	width:25%;
	padding-top:20px;
	padding-bottom:20px;
	float:left;
}
#imgw3
{
	background-color:#e1e1e1;
	width:25%;
	padding-top:20px;
	padding-bottom:20px;
	float:left;
}
#imgw4
{
	background-color:#efefef;
	width:25%;
	padding-top:20px;
	padding-bottom:20px;
	float:left;
}
div.test
{
	background-color:red;
	height:100px;
}