@font-face{
	font-family:'Gotham';
	src: url('GothamPro-Light.woff') format('woff');}
*{
	margin:0px;
	padding:0px;}
body{
	font-family:'Gotham',Verdana,sans-serif;}
h2{
	text-align:center;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	padding:10px;}
ul{
	list-style-type:none;}
a{
	text-decoration:none;}


.grey_font
{
	padding:10px 0px;
	margin:10px 0px;
	color:#838383;
	line-height:1.6em;
	text-align:center;}	
		
.baton{
	font-weight:bold;
	margin-top:30px;
	padding: 20px 50px 20px 50px;
	font-weight:100;
	color:#ffffff;
	background-color:#10c9c3;
	border:1px solid #10c9c3;
}
	
	
	
	
/* Header Section */	
	
header{
	background-image:url('../images/picture1.jpg');
	background-position:center right;
	background-repeat:no-repeat;
	padding:20px;
	height:45em;}
div.header{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:baseline;
	padding:10px 0px;
}
img.header{margin-left:30px;}
ul.header{margin-right:30px;}	
li.header{
	display:inline;
	margin-right:20px;
	font-weight:bold;}

.pick{color:Black;}
.pick:hover{color:#10c9c3;}
	
header p{
	padding-top:20px;
	line-height:1.5em;
	color:#838383;
}
.position{
	align-text:right;
	margin-right:40px;
}
div.Text_header{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-end;
	height:100%;
}


/* Section about */
section.Section_about{
	width:100%;
	padding:100px 0px;
	display:flex;
	flex-direction:column;
	justify-content:center;	
	align-items:center;
}
img.Section_about{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:10px 0px;
}

/* Section skills */
section.Section_skills
{
	width:100%;
	display:flex;
	justify-content:space-between;
	height:38.95em;
}
#skills{
	background-color:#eaeff3;
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
#skills2{
	background-image:url('../images/skills.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	bacground-position:cennter;
	width:50%;
	height:100%;
}
.pskill
{
	margin-left:60px;
	padding:20px 0px;
}
img.pskill{width:70%;}



/* Section feedbacks */
section.Section_feedbacks{
	padding:100px 0px;
	width:100%;
	background-color:#10c9c3;
	color:#ffffff;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
div.Section_feedbacks{
	width:25%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-evenly;
}




/* Section video */
section.Section_video{
	width:100%;
	padding:90px 0px;}
	
video.Section_video{
	display:block;
	margin:0 auto;
	margin-top:25px;
	width:70%;
	height:670px;}



/* Section working */

section.Section_working{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding:20px 0px;
}


/* Section Need */

section.Section_need{
	background-color:#f5f5f5;
	height:50.67em;
	padding-top:80px;
	width:100%;}
	
textarea
{
	margin-top:50px;
	padding:10px 0px;
	width:100%;
	display:block;
	border: 0px;
	resize:none;
	font-size:120%;}
	
::placeholder{
	width:30%;
	padding-left:20px;
	font-family:Gotham;
	font-size:14px;}
	
.Between{
	display:flex;
	justify-content:space-between;}
	
form{
	padding:30px 0px;
	width:50%;
	margin:0 auto;}
	
.input_Title{
	margin-top:20px;
	width:100%;}
	
input{
	font-size:90%;
	border: 0px;
	display:block;
	width:48%;
	padding:15px 0px;}
	

/* Testymonials style */

section.testimonials{
	width:100%;
	background-color:#10c9c3;
	color:#ffffff;
	font-size:80%;
	text-align:center;
	padding-top:140px;
	padding-bottom:30px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;}
	
p.testimonials
{
	padding:10px;
	line-height:1.6em;
	font-size:150%;}

#hopkins{
	font-size:70%;
	text-align:center;
	margin-bottom:10px;
	margin-top:25px;}
	
img.testimonials{
	display:block;
	margin:0 auto;
	margin-top:80px;
	margin-bottom:0px;}


/* Section_services */

section.services{
	display:flex;
	flex-wrap:wrap;}
	
img.services{padding:10px 0px;}

	
div.services
{
	background-color:#f5f5f5;
	width:25%;
	padding:70px 0px;
	text-align:center;
	line-height:1.5em;
	letter-spacing:0.1em;}


/* Section_works Style */

section.Section_works{
	display:flex;
	flex-wrap:wrap;}
	
div.Section_works {
  width:25%;
  position: relative;
  display: flex;
  height:300px;
  justify-content: center;
  align-items: center;}
  
.Size_image{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}
.Section_works img{
	width:200px;
	height:220px;
}
.image8 img{
	width:170px;
	height:220px;
}
.image1{background-color:#e7e6e4;}
.image2{background-color:#eeeeee;}
.image3{background-color:#e1e1e1;}
.image4{background-color:#efefef;}
.image5{background-color:#dedfe4;}
.image6{background-color:#e4e3e1;}
.image7{background-color:#ffffff;}
.image8{background-color:#e7e7e7;}


div.Section_works::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:url('../images/eye.png');
  background-repeat:no-repeat;
  background-position:center;
  background-color:rgba(52,52,52,0.9);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;}

div.Section_works:hover::before {
  opacity: 1;}
  
.work
{
  background-color:#f5f5f5;
  color:#838383;
  text-align:center;
  padding:30px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  width:100%;}
  
  

/* Footer Style */

footer{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	background-color:black;
	color:#838383;
	font-size:12px;
	padding:100px 50px;}
	
h4.footer{
	color:White;
	font-size:16px;}
	
ul.footer{
	line-height:1.5em;
	width:10%;
	text-align:left;}
	
div.footer{
	width:25%;
	margin:0 auto;}

#invis{
	visibility:hidden;
	width:20%;
	text-align:left;}
